<phpunit backupGlobals="false" colors="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Helper</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
